
.First_heading{
    color:blue;
    margin-bottom: 0;
    padding:20;
    font-family: 'Linux Libertine','Georgia','Times',serif;
    line-height: 1.3;
    display: block;
    text-align: center;
}
   
p{
    width: 400px;
    align-items: flex-end;
    text-align: justify;
    font-family: sans-serif;
    display: block;
    margin-block-start: 1.3em;
    margin-block-end: 1em;

}

.img{
    position:absolute;
    left:43%;
    top:40%  
}

.first_img{
    width:290px;
    height:188px;
}
.thy_img{
    width:290px;
    height:188px;
}
.for_img{
height: 188px;
width: 270px;
}

table{
    color: content: '\e242';;

}

table{
    background:#ffc;
    position: absolute;
    left: 43%;
}

.style_list{
    display:inline;    
}   